cmake-build
logs
imgui.ini
install
schema_generate/

.gradle
.cxx
.idea
android/app/jni/game
android/build
android/app/build
local.properties
android/app/src/main/assets/assets
emcmake-build
android/app/release
project_path.xml
*.tiled-project
*.tiled-session