export type {{{class_name}}}AssetManager = {
	Load: (self: {{{class_name}}}AssetManager, path: Path, force: boolean?) -> {{{handle_name}}},
	Find: (self: {{{class_name}}}AssetManager, path: Path) -> {{{handle_name}}},
}

