{{type}} Load{{type}}Asset(rapidxml::xml_node<>&);
rapidxml::xml_node<>* SaveAsset(rapidxml::xml_document<>& doc, const {{type}}& payload);

{{type}} Load{{type}}Asset(const Path& filename);
void SaveAsset(const {{type}}& payload, const Path& filename);
