rapidxml::xml_node<>* Serialize(rapidxml::xml_document<>& doc,
                                const {{type}}& payload,
                                const std::string& name);
void Deserialize(const rapidxml::xml_node<>& node, {{type}}& payload);