void InstanceDisplay(const char* name, {{type}}&);
void InstanceDisplay(const char* name, const {{type}}&);
void InstanceDisplay(const char* name, Flags<{{type}}>&);
void InstanceDisplay(const char* name, const Flags<{{type}}>&);
