template<>
AssetLoadResult<{{type}}> LoadAsset<{{type}}>(rapidxml::xml_node<>& node) {
    AssetLoadResult<{{type}}> payload;
    Deserialize(CURRENT_CONTEXT, node, payload);
    return payload;
}

rapidxml::xml_node<>* SaveAsset(const UUIDv4& uuid, rapidxml::xml_document<>& doc, const {{type}}& payload) {
    AssetLoadResult<{{type}}> asset_load_result;
    asset_load_result.m_uuid = uuid;
    asset_load_result.m_payload = payload;
    return Serialize(CURRENT_CONTEXT, doc, asset_load_result, "{{type}}");
}

template<>
AssetLoadResult<{{type}}> LoadAsset<{{type}}>(const Path& filename) {
    auto file = IOStream::CreateFromFile(filename, IOMode::Read, true);
    auto content = file->Read();
    content.push_back('\0');
    rapidxml::xml_document<> doc;
    try {
        doc.parse<rapidxml::parse_default>(content.data());
    } catch (std::exception &e) {
        LOGE("parse asset {} failed: {}", filename, e.what());
        return {};
    }
    auto node = doc.first_node("{{type}}");
    if (!node) {
        LOGE("parse asset {} failed, no node {}", filename, "{{type}}");
        return {};
    }

    return LoadAsset<{{type}}>(*node);
}

void SaveAsset(const UUIDv4& uuid, const {{type}}& payload, const Path& filename) {
    rapidxml::xml_document<> doc;
    auto node = SaveAsset(uuid, doc, payload);    
    if (!node) {
        LOGE("save asset {} failed", filename);
    }
    doc.append_node(node);
    std::stringstream ss;
    ss << doc;
    std::string content = ss.str();
    auto io = IOStream::CreateFromFile(filename, IOMode::Write, false, true);
    io->Write(content.data(), content.size());
}