#include "schema/binding/binding.hpp"

void RegisterSchemaType(asIScriptEngine* engine) {
    {{#registers}}
    {{{register}}}
    {{/registers}}
}

void BindSchemaHandleTypeOpImplCast(asIScriptEngine* engine) {
    {{#handle_casts}}
    {{{handle_cast}}}
    {{/handle_casts}}
}

void BindSchema(asIScriptEngine* engine) {
    {{#bindings}}
    {{{binding}}}
    {{/bindings}}
}
