#include "schema/binding/binding.hpp"

void RegisterSchemaType(asIScriptEngine* engine) {
    {{#registers}}
    {{{register}}}
    {{/registers}}
}

void BindSchema(asIScriptEngine* engine) {
    {{#bindings}}
    {{{binding}}}
    {{/bindings}}
}
