#pragma once
#include "angelscript.h"
#include "engine/script/script_handle_binding.hpp"

{{#includes}}
#include "{{include}}"
{{/includes}}

void RegisterSchemaType(asIScriptEngine* engine);
void BindSchemaHandleTypeOpImplCast(asIScriptEngine* engine);
void BindSchema(asIScriptEngine* engine);
