{{#is_asset}}
    struct {{class_name}};
    using {{class_name}}Handle = Handle<{{class_name}}>;
{{/is_asset}}

struct {{class_name}} {
    {{#properties}}
    {{{property}}}
    {{/properties}}
    {{#optional_getset}}
    {{{getter}}}
    {{{setter}}}
    {{/optional_getset}}
    {{#flags_getset}}
    {{{getter}}}
    {{{setter}}}
    {{/flags_getset}}
    {{#array_getset}}
    {{{getter}}}
    {{{setter}}}
    {{/array_getset}}
};