void InstanceDisplay(const char* name, {{type}}& value) {
    ImGui::Text("%s", name);
    {{#properties}}
    IMGUI_PUSHID(value);
    if (ImGui::TreeNode("{{property}}")) {
        InstanceDisplay("{{{property}}}", value.m_{{{property}}});
        ImGui::TreePop();
    }
    IMGUI_POPID();
    {{/properties}}
}

void InstanceDisplay(const char* name, const {{type}}& value) {
    ImGui::BeginDisabled(true);
    {{#properties}}
    IMGUI_PUSHID(value);
    if (ImGui::TreeNode("{{property}}")) {
        InstanceDisplay("{{{property}}}", value.m_{{{property}}});
        ImGui::TreePop();
    }
    IMGUI_POPID();
    {{/properties}}
    ImGui::EndDisabled();
}

{{#has_handle}}
void InstanceDisplay(const char* name, {{type}}Handle handle) {
    InstanceDisplay(name, *handle);
}
{{/has_handle}}
