void InstanceDisplay(const char* name, {{type}}& value) {
    ImGui::Text("%s", name);
    {{#properties}}
    ImGui::PushID(&value);
    if (ImGui::TreeNode("{{property}}")) {
        InstanceDisplay("{{{property}}}", value.m_{{{property}}});
        ImGui::TreePop();
    }
    ImGui::PopID();
    {{/properties}}
}

void InstanceDisplay(const char* name, const {{type}}& value) {
    ImGui::BeginDisabled(true);
    {{#properties}}
    ImGui::PushID(&value);
    if (ImGui::TreeNode("{{property}}")) {
        InstanceDisplay("{{{property}}}", value.m_{{{property}}});
        ImGui::TreePop();
    }
    ImGui::PopID();
    {{/properties}}
    ImGui::EndDisabled();
}

{{#has_handle}}
void InstanceDisplay(const char* name, {{type}}Handle& handle) {
    std::vector<Filter> filters;
    Filter filter;
    filter.name = name;
    filter.pattern = std::string({{type_extension}}.substr(1));
    filters.push_back(filter);
    HandleInstanceDisplayCommon(name, handle, filters);

    if (handle.IsEmbed()) {
        InstanceDisplay(name, *handle);
    }
}
{{/has_handle}}
