void bind{{{type}}}TypeFromSchema(lua_State* L) {
    luabridge::getGlobalNamespace(L)
        .beginNamespace("TL")
        .beginClass<{{{type}}}>("{{{type}}}")
        {{#property_entries}}
        .addProperty("{{{property_name}}}", &{{{type}}}::{{{property_name}}}, true)
        {{/property_entries}}
        .endClass()
        .endNamespace();
}
