void bind{{{type}}}TypeFromSchema(lua_State* L) {
    luabridge::getGlobalNamespace(L)
        .beginNamespace("TL")
        .beginNamespace("{{{type}}}")
        {{#enum_values}}
        .addProperty("{{{enum_value}}}", +[]() { return static_cast<int>({{{enum_item}}}); })
        {{/enum_values}}
        .endNamespace()
        .endNamespace();
}
