#include "{{header_file}}"
#include "{{schema_file}}"
#include "common/serialize.hpp"
#include "common/script/script_handle_binding.hpp"
#include "common/script/script_flags_binding.hpp"

{{#bindings}}
{{{binding}}}
{{/bindings}}
