#pragma once

struct lua_State;

#include "lua.h"
#include "lualib.h"
#include "LuaBridge/LuaBridge.h"
#include "LuaBridge/Array.h"
#include "LuaBridge/Vector.h"
#include "LuaBridge/Map.h"
#include "LuaBridge/UnorderedMap.h"
#include "LuaBridge/Set.h"
#include "LuaBridge/List.h"

#include "{{schema_include}}"

{{#enum_stack_specializations}}
{{{stack_spec}}}
{{/enum_stack_specializations}}

{{#registers}}
{{{register}}}
{{/registers}}

{{#bindings}}
{{{binding}}}
{{/bindings}}
