#include "{{header_file}}"
#include "{{schema_file}}"
#include "lua.h"
#include "lualib.h"
#include "LuaBridge/LuaBridge.h"
#include "engine/script/script_handle_binding.hpp"

{{#registers}}
{{{register}}}
{{/registers}}

{{#bindings}}
{{{binding}}}
{{/bindings}}
