#pragma once

struct lua_State;

#include "common/script/luabridge_include.hpp"

#include "{{schema_include}}"

{{#enum_stack_specializations}}
{{{stack_spec}}}
{{/enum_stack_specializations}}

{{#registers}}
{{{register}}}
{{/registers}}

{{#bindings}}
{{{binding}}}
{{/bindings}}
