#include "{{header_file}}"
#include "{{schema_file}}"
#include "engine/script_macros.hpp"
#include "engine/script_template_binding.hpp"

{{#registers}}
{{{register}}}
{{/registers}}

{{#bindings}}
{{{binding}}}
{{/bindings}}
