<schema>
    <import>level_content</import>
    <import>input</import>
    <include>level.hpp</include>
    <include>path.hpp</include>
    
    <asset name="GameConfig" extension=".game_config">
        <!-- don't use handle, due to asset rely on GameConfig itself! -->
        <element name="basic_level_asset" type="Path"/>
        <element name="input_config_asset" type="Path"/>
        <element name="tile_in_chunk_size" type = "Vec2UI"/>
        <element name="camera_scale" type = "Vec2" default="{1, 1}"/>
    </asset>
</schema>